.custom-root {
    display: inline-flex;
    flex-direction: column;
    margin-top: 25px;
}

.custom-root ul {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

.rpb-item,
.custom-root ul {
    display: flex;
    justify-content: center
}